{% extends "base.html" %}

{% block mainblock %}
        <link type="text/css" rel="stylesheet" href="/static/css/sliceStyle.css">

        <div class="contactBody" id="slice">
            <div class="container">
              <section class="pc-banner">
              	<div class="swiper-container">
              		<div class="swiper-wrapper">
              			<div class=" swiper-slide swiper-slide-center none-effect" style="background:url(/static/pic/4.jpg);">
                      <!--
                      <h1 class = "text-center article-title">We Will Win</h1>
                      <p>图片列表部分，用一个外层div包裹所有</p>
                      <p>然后每个img会被一个div，则class为item的包裹住</p>
                      -->
              			</div>
                    <div class=" swiper-slide" style="background:url(/static/pic/1.jpg);">
                      <!--
                      <h1 class = "text-center article-title">We Will Win</h1>
                      <p>图片列表部分，用一个外层div包裹所有</p>
                      <p>然后每个img会被一个div，则class为item的包裹住</p>
                      -->
              			</div>
                    <div class="swiper-slide" style ="background:url(/static/pic/2.jpg);">
                      <!--
                      <h1 class = "text-center article-title">We Will Win</h1>
                      <p>图片列表部分，用一个外层div包裹所有</p>
                      <p>然后每个img会被一个div，则class为item的包裹住</p>
                      -->
              			</div>
                    <div class="swiper-slide" style="background:url(/static/pic/3.jpg);">
                      <!--
                      <h1 class = "text-center article-title">We Will Win</h1>
                      <p>图片列表部分，用一个外层div包裹所有</p>
                      <p>然后每个img会被一个div，则class为item的包裹住</p>
                      -->
              			</div>
                    <div class="swiper-slide" style="background:url(/static/pic/5.jpg);">
                      <!--
                      <h1 class = "text-center article-title">We Will Win</h1>
                      <p>图片列表部分，用一个外层div包裹所有</p>
                      <p>然后每个img会被一个div，则class为item的包裹住</p>
                      -->
              			</div>
              		</div>
              		<div class="button">
              			<div class="swiper-button-prev"></div>
              			<div class="swiper-button-next"></div>
              		</div>
                  <div class="swiper-pagination"></div>
              	</div>
              </section>
            </div>
          </div>
          <div class="contactBody" id="description">
            <div class="container">
              <div class="row section_title text-center">
                  <h1>win-win</h1>
                  <h2>Choose us <i class="fa fa-handshake-o" aria-hidden="true" style="font-size:72px;"></i> Choose win</h2>
                  <p>NINGBO Master Welding Tools co.LTD</p>
                  <p>Thanks for your support</p>
              </div>
            </div>
          </div>
          <script type="text/javascript" src="/static/js/swiper.min.js"></script>
          <script type="text/javascript">
      
            window.onload = function() {
              var swiper = new Swiper('.swiper-container',{
                initialSlide: 0 , //设置初始化时slide的索引，默认0
                autoplay: 2000, // 设置自动切换的时间间隔，默认0
                speed: 1000,
                autoplayDisableOnInteraction: true,
                loop: true,
                centeredSlides: true,
                slidesPerView: 2,
                pagination : '.swiper-pagination',
                paginationType : 'progress',
                paginationClickable: true,
                prevButton: '.swiper-button-prev',
                nextButton: '.swiper-button-next',
                onInit: function(swiper) {
                  swiper.slides[2].className = "swiper-slide swiper-slide-active";
                },
                breakpoints: {
                  668: {
                    slidesPerView: 1,
                  }
                }
              });
            }
      
      
          </script>
{%endblock%}
         