footer{
	background:#2c3e5e;
	  padding: 60px 0;
	  color: #fff;
	opacity: .9;
}
footer span{
	margin-right: 10px;
}
footer p{
	color:#aab1be;
}
footer i{
	margin-top:  50px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.swiper-slide h1{
	padding: 60px 15px;
	color:#fff;
	font-size: 63px;
	text-shadow: 0px 0 8px #000;
}
.swiper-slide p{
	padding-left:50px;
	padding-right:50px;
	text-shadow: 0px 0 4px #000;
	color:#fff;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 200;
}
.section_title h1{
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 36px;
	padding-top: 50px;
}

#footbanner{
	background-image:url(../pic/footbanner.jpg)
}
.contactBody{
	color:#fff;
}
.contactBody p{
	padding-bottom: 20px;
	/*padding-top: 20px;*/
	text-shadow: 0px 0 8px #000;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

.swiper-slide {
  background-repeat: no-repeat;
	height:400px;
}
.detailImg{
	height: 500px;
}
.specifyHeader{
	padding-top: 0px;
	font-weight:bold;
	height:30px;
}
/*
.carousel-control.left {
	 background-image:none;
	 background-repeat: repeat-x;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000'， endColorstr='#00000000'， GradientType=1);
	}
.carousel-control.right {
	left: auto;
	right: 0;
	background-image:none;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000'， endColorstr='#80000000'， GradientType=1);
}
*/
.value-prop{
	padding: 2rem 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #444;
}
#description{
	 background:rgb(48, 48, 48);
	 color:#FFF;
}
#slice{
	background-image:url(../pic/de_banner.jpg)
}
